@charset "UTF-8";
.u-font0 {
    font-size: 0 !important;
}

.u-fontBase {
    font-size: $baseFontSize !important;
}

.u-fontBold {
    font-weight: bold !important;
}

.u-noUdl {
    text-decoration: none !important;
}

.u-textL {
    text-align: left !important;
}

.u-textC {
    text-align: center !important;
}

.u-textR {
    text-align: right !important;
}

.u-textRtl {
    direction: rtl !important;
}

.u-textBreak {
    word-wrap: break-word !important;
    word-break: break-all !important;
}

.u-textMainTone {
    color: $mainTone !important;
}

.u-textSubTone {
    color: $subTone !important;
}

.u-textDanger {
    color: $dangerColor !important;
}

.u-textWarn {
    color: $warnningColor !important;
}

.u-bgMainTone {
    background-color: $mainTone !important;
}

.u-bgSubTone {
    background-color: $subTone !important;
}

.u-marginT {
    margin-top: $baseGap !important;
}

.u-marginB {
    margin-bottom: $baseGap !important;
}

.u-marginR {
    margin-right: $baseGap !important;
}

.u-marginL {
    margin-left: $baseGap !important;
}

.u-cursorPointer {
    cursor: pointer !important;
}

.u-floatL {
    @include float();
}

.u-floatR {
    @include float(right);
}

.u-clearfix {
    @include clearfix();
}