@charset "UTF-8";
// 默认变量
// 开关设置
//-----------------------------------------------------
$lte7: false; //是否兼容ie6-7
$filter: false; //是否为ie6-8开启css3滤镜兼容，常用于渐变背景
$printStyleSwitch: false; //是否开启打印样式

// font相关
//-----------------------------------------------------
// html基础字体样式
$baseFontPC: arial, \5b8b\4f53, "Hiragino Sans GB", "Microsoft YaHei", sans-serif; //PC端,$pageType为PC
$baseFontMobile: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; //$pageType为M

// 颜色
//-----------------------------------------------------
// 页面主要色调
$mainTone: #3da4fe;
$subTone: #fe6e00;
// 文字颜色
$mainTextColor: #666;
$subTextColor: #ccc;
// 边框颜色
$baseBorderColor: #c7c7c7;
// 辅助颜色
$dangerColor: #a94442;
$warnningColor: #8a6d3b;
// 按钮文字颜色
$mainButtonColor: #fff;
// 文字大小
$baseFontSize: 16px;
// 间隙
$baseGap: 20px;
// 圆角
$baseBorderRadius: 3px;
// 行高
$baseLineH: 26px;
// 设计图尺寸，用于px2rem和设置html的字体大小
$designWidth: 750px;